@import url("./workspaces/workspaces.scss");
@import url("./title/title.scss");

@import url("./date/date.scss");

@import url("./sound/sound.scss");
/*@import url("./battery/battery.scss");
@import url("./tray/tray.scss");
*/
@import url("./power-actions/power-actions.scss");

window.bar {
  background-color: transparent;
  font-family: "SauceCodePro Nerd Font", monospace;
  font-size: 10px;
}

.left, .center, .right {
  margin-top: 4px;
  padding: 4px 6px;
  color: @paleAccent;
  background-color: alpha(@base, 0.70);
  border-radius: 16px;
}

.left { margin-left: 14px; }
.right { margin-right: 14px; }


/* Widget type properties */

button {
  min-width: 0;
  padding: 0;
  background-color: transparent;
}

button:hover {
  background-color: alpha(@dullAccent, 0.25);
}


/* Short bar widget CSS */

.battery {
  color: @alert;
}

.system-tray {
  margin: 0 8px;
}

.system-tray button {
  border-radius: 12px;
  padding: 0 2px;
}

.notification {
  color: @alert;
}
