[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/mimvoid/wallpaper-stash
[submodule "panefox"]
	path = home-manager/firefox/panefox
	url = https://github.com/mimvoid/panefox
[submodule "home-manager/ags"]
	path = home-manager/ags
	url = git@github.com:mimvoid/mim-shell.git
