# Python
__pycache__/
*.py[cod]
*$py.class

# Nix
result/

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch
