[submodule "gpl-palettes"]
  path = home-manager/krita/gpl-palettes
  url = https://github.com/mimvoid/gpl-palettes.git

[submodule "firefox-chrome"]
  path = home-manager/firefox/chrome
  url = https://github.com/mimvoid/panefox.git

[submodule "wallpaper-stash"]
	path = wallpapers
	url = git@github.com:mimvoid/wallpaper-stash.git

[submodule "reference-tabs-docker"]
  path = home-manager/krita/reference-tabs-docker
  url = https://invent.kde.org/freyalupen/reference-tabs-docker.git
  shallow = true

[submodule "composition-helper"]
  path = home-manager/krita/composition-helper
  url = https://github.com/Grum999/CompositionHelper.git
  shallow = true

[submodule "timer-watch"]
  path = home-manager/krita/timer-watch
  url = https://github.com/EyeOdin/timer_watch.git
  shallow = true
