/* Hides or less emphasizes various elements in obsidian */

/* author: mimvoid */

/* Make the add properties button fainter */
.metadata-container .metadata-add-button {
  color: var(--background-modifier-border-hover);
}
/* Hide in reading mode */
.markdown-preview-view .metadata-container .metadata-add-button {
  display: none;
}

/* Hide "Properties" title */
.metadata-properties-heading {
  display: none;
}

/* Hide help button */
.svg-icon.help {
  display: none;
}

/* Hide top window buttons while maintaining some whitespace */
.workspace-leaf-content {
  &[data-type="outline"],
  &[data-type="file-explorer"],
  &[data-type="bookmarks"] {
    .nav-buttons-container {
      display: none;
    }
  }
}

.workspace-leaf-content[data-type="backlink"],
.embedded-backlinks {
  .nav-action-button[aria-label="Collapse results"],
  .nav-action-button[aria-label="Show search filter"] {
    display: none;
  }
}
