/* Thunar */
.thunar menu,
.thunar menubar,
.thunar menuitem,
.thunar treeview,
.thunar scrollbar slider,
.thunar box entry,
.thunar .location-button,
.thunar .location-button:hover,
.thunar .flat.image-button {
  border: none;
  border-radius: 6px;
  box-shadow: none;
}

.thunar toolbar.horizontal {
  padding: 0 6px;
}

.thunar .location-button {
  padding: 2px 4px;
}

.thunar .flat.image-button {
  margin: 4px;
  padding: 4px;
}

.thunar .flat.image-button:disabled {
  background-color: transparent;
}

.thunar .location-button:hover:not(:checked),
.thunar .flat.image-button:hover {
  background-color: rgba(110, 106, 134, 0.25);
  transition: all 0.2s;
}

.thunar .location-button label,
.thunar .location-button image {
  padding: 0 4px;
}


/* XFCE Panels */
/* HACK: how to pad a panel? */
#applicationmenu-button, .xfce4-panel widget grid {
  margin-left: 8px;
}
#actions-button, #docklike-plugin {
  margin-right: 8px;
}

.xfce4-panel button {
	border: none;
	margin: 1px;
	padding: 4px;
	border-radius: 10px;
	box-shadow: none;
	color: #f4dbd6; /* rosewater */
}

/* Resize workspaces labels */
.xfce4-panel #pager-1 button.flat.toggle {
  margin: 0;
  font-size: 16px;
}

/* workspaces */
.xfce4-panel #pager-1 button.flat.toggle:checked,
/* other buttons */
.xfce4-panel #applicationmenu-button:checked,
.xfce4-panel button:hover {
  color: #9ccfd8; /* foam */
	background-color: rgba(110, 106, 134, 0.25); /* muted */
  transition: all 0.2s;
}

.xfce4-panel #pager-1 button.flat.toggle:hover,
.xfce4-panel button:checked:not(#applicationmenu-button) {
  color: #232136; /* base */
  background-color: #ea9a97; /* rose */
  transition: all 0.2s;
}

#clock-button label {
  padding: 0 6px;
}

/* HACK: the clock widget calendar has no specific css class */
/* Calendar */
.background calendar {
  background-color: #232136;
  color: rgb(224, 222, 244); /* text */
}

/* keep week numbers aligned */
.background calendar:not(.highlight) {
  padding: 10px 8px;
}

.background calendar:selected {
  color: #ea9a97; /* rose */
}

/* Day names & week numbers */
.background calendar .highlight {
  color: #c4a7e7; /* iris */
}

/* Days outside current month */
.background calendar:indeterminate {
  color: rgba(224, 222, 244, 0.4);
}

.xfce4-panel trough {
  min-height: 5px;
  min-width: 128px;
  margin: 12px;
}

#xfce4-power-manager-plugin trough {
  margin: 16px 0 12px 0;
}

#xfce4-power-manager-plugin menu image {
  -gtk-icon-transform: scale(0.85);
  margin-right: 12px;
}

/* Dock */
#applicationmenu-button image,
#docklike-plugin .group image {
  -gtk-icon-transform: scale(0.85);
}

#docklike-plugin .group {
	margin: 0px;
	padding: 0px 4px;
}


/* Menus */

window.popup.csd.background menu,
window.popup.csd.background menuitem {
  border-radius: 6px;
  padding: 6px;
}

/* Get rid of the sharp corner artifacts */
/* Would've liked to just make their backgrounds transparent,
 * but that still leaves behind border-like artifacts */
window.popup.csd.background,
window.popup.csd.background decoration {
  border-radius: 8px;
  background-color: transparent;
}

window.popup.csd.background menu separator {
  margin: 4px 0;
}


/* Notifications */

#XfceNotifyWindow {
	border: 0px;
}

#XfceNotifyWindow image {
	-gtk-icon-transform: scale(0.5);
	border-radius: 6px;
}
