$radius: 8px;
$transition: all 0.2s ease-in-out;

$icons: "Adwaita";
$fallback-icons: "Papirus";

@mixin radius($scale: 1) {
  border-radius: $radius * $scale;
}

@mixin transition() {
  transition: $transition;
}

// Simulates an outline around text
@mixin text-stroke($size, $color) {
  text-shadow:
    $size $size 0 $color,
    (-$size) (-$size) 0 $color,
    ($size) (-$size) 0 $color,
    (-$size) $size 0 $color,
    0 $size 0 $color,
    $size 0 0 $color,
    0 (-$size) 0 $color,
    (-$size) 0 0 $color;
}
