@import "./_macchi-nightlight.scss";

/* Color palette explanation */

/* Inspired by Material You color roles */
/* source: https://m3.material.io/styles/colors/roles */

/*
These are color roles that can fit many palettes,
so changing a color palette would not require changing
all the color names in the scss files.

$base: the background
- determines if the palette is light or dark

$box: lighter (in a dark palette) or darker (in a dark palette) than surface
- often used for buttons, hover backgrounds, etc.
$box-bright: more contrast with surface
$box-dim: less contrast with surface

$string: the foreground, often text or borders
$string-dim: string, but with less contrast with surface

$shadow: very dark, mostly for box shadows


$primary: main accent, high emphasis
$primary-bright: lighter in value and/or warmer in hue than primary
$primary-dim: darker in value and/or cooler in hue than primary

$secondary: less emphasis, pairs well with primary
$secondary-bright
$secondary-dim

$tertiary: contrasting accent, very high emphasis
$tertiary-bright
$tertiary-dim

$good: often green
$warn: often yellow or orange
$error: often red
*/
