@use "sass:color";

/* Based on Catppuccin Macchiato */

$base: color.change(#24273a, $alpha: 0.8); /* base */

$box: color.change(#c6a0f6, $alpha: 0.1);    /* mauve */
$box-bright: color.change(#c6a0f6, $alpha: 0.2);
$box-dim: color.change(#c6a0f6, $alpha: 0.1);

$string: #cad3f5;           /* text */
$string-dim: #a5adcb;       /* subtext0 */

$shadow: #1e2030;           /* mantle */


$primary: #f5bde6;                      /* pink */
$primary-bright: color.mix(#f5bde6, #f4dbd6); /* pink & rosewater */
$primary-dim: #c6a0f6;                  /* mauve */

$secondary: #f0c6c6;                    /* flamingo */
$secondary-bright: #f4dbd6;             /* rosewater */
$secondary-dim: color.mix(#f5a97f, #f4dbd6);  /* peach & rosewater */

$tertiary: #8aadf4;         /* blue */
$tertiary-bright: #91d7e3;  /* sky */
$tertiary-dim: #b7bdf8;     /* lavender */

$good: #8bd5ca;             /* teal */
$warn: #f5a97f;             /* peach */
$error: #ee99a0;            /* maroon */
