.workspaces button {
  border-radius: 24px;
  margin: 0 2px;
  padding: 0 4px;
  color: @secAccent;
  background-color: transparent;
}

.workspaces button.focused {
  color: @alert;
  background-color: alpha(@dullAccent, 0.2);
  transition: all 0.2s ease-in-out;
}

.workspaces button:hover {
  color: @base;
  background-color: alpha(@secAccent, 0.85);
  transition: all 0.2s ease-in-out;
}

