/* Targets the bookmarks bar below the URL bar */

#PlacesToolbar {
  .toolbarbutton-text {
    display: none !important;
  }

  .bookmark-item {
    opacity: 0.75; /* make transleucent */
  }
}

#PlacesToolbarItems {
  justify-content: safe center !important; /* centers bookmarks */
}
