/* Original: https://github.com/soulhotel/Perfection-Firefox-CSS-Theme/blob/main/CSS/browser-rounded.css */

/* Rounds the borders around the browser website content */
#tabbrowser-tabpanels,
#tabbrowser-tabpanels browser[type="content"] {
  border-radius: 9px;
	clip-path: inset(0 round 10px);
}

#tabbrowser-tabpanels {
  background: var(--toolbar-bgcolor);

  browser[type="content"] {
    border-bottom-right-radius: 0;
    background-color: var(--tabpanel-background-color);
  }
}

body {
  background: var(--toolbar-bgcolor);
}
