/* Custom colors for bookmark folders */

:-moz-any(#bookmarks-view, #editBMPanel_folderTree, #placesList, #placeContent) treechildren {
  &::-moz-tree-image(container),
  &::-moz-tree-image(container, query),
  &::-moz-tree-image(container, OrganizerQuery_BookmarksMenu),
  &::-moz-tree-image(container, OrganizerQuery_BookmarksToolbar),
  &::-moz-tree-image(container, queryFolder_menu________),
  &::-moz-tree-image(container, queryFolder_toolbar_____) {
    fill: var(--bookmark-folder-icon-fill) !important;
  }
}

#editBMPanel_folderMenuList {
  fill: var(--bookmark-folder-icon-fill) !important;

  menupopup menuitem,
  > .menulist-label-box > .menulist-icon,
  &[selectedIndex="1"] > .menulist-label-box > .menulist-icon,
  &[selectedGuid="menu________"],
  &[selectedIndex="0"] > .menulist-label-box > .menulist-icon, 
  &[selectedGuid="toolbar_____"] {
    fill: var(--bookmark-folder-icon-fill) !important;
  }
}

#editBMPanel_bmRootItem,
#editBMPanel_toolbarFolderItem {
  > .menu-iconic-left {
    fill: var(--bookmark-folder-icon-fill) !important;
  }
}
