/* Edits radius of round UI from
 * ./extras/round_ui_items and ./extras/rounded_menupopups.css */

:root {
  /* Adjust this to change the border radius */
  --toolbarbutton-border-radius: 10px !important;

  /* Match the menupopup border radius */
  --uc-menupopup-border-radius: var(--toolbarbutton-border-radius);
}

/* URL & menu bar */
#urlbar-input-container > box:hover,
#urlbar-input-container > box[open],
#main-menubar > menu,

/* Sidebar */
#sidebar-box,
#sidebar,
#sidebar-search-container > #search-box

/* Buttons */
.titlebar-button:hover,
#scrollbutton-up,
#scrollbutton-down,
.tab-close-button,
.close-icon > image,
#page-action-buttons > :hover,
.panel-arrowcontent,
.urlbarView-row-inner,
.search-one-offs button,
.subviewbutton-back,
.toolbaritem-combined-buttons > toolbarbutton,

/* Popup menus */
#PopupSearchAutoComplete,
menupopup,

/* Misc */
button,
.tab-background {
  border-radius: var(--toolbarbutton-border-radius) !important;
}

/* Rounds the status panel */

/* Chose this specific value since it fits well against the edges of the
 * browser content window */

#statuspanel-label {
  border-radius: 4px;
}
