/* Original: https://github.com/soulhotel/Perfection-Firefox-CSS-Theme/blob/main/CSS/browser-rounded.css */

/* Rounds the borders around the browser website content */
#tabbrowser-tabpanels,
#tabbrowser-tabpanels browser {
  border-radius: var(--browser-content-panel-radius);
  clip-path: inset(0 round calc(var(--border-content-panel-radius) + 1px));
}

#tabbrowser-tabpanels {
  background-color: var(--toolbar-bgcolor);
}
#tabbrowser-tabpanels browser {
  background-color: var(--tabpanel-background-color);
}
