#sidebar-main,
#sidebar-box {
  min-width: calc(var(--button-size-icon) + (2 * var(--space-small))) !important;
}

#sidebar-main {
  --button-outer-padding-inline-start: 0;
  --button-outer-padding-inline-end: var(--button-outer-padding-inline-start);
  --button-outer-padding-block-start: var(--space-xsmall);
  --button-outer-padding-block-end: var(--button-outer-padding-block-start);

  padding-inline: var(--space-small);
}

.sidebar-splitter {
  /* Shrink the sidebar splitter */
  border: 0 !important;
  width: 2px !important;
  /* It seems to be completely disabled if opacity is 0? */
  opacity: 0.01;

  /* Still show splitter when there are no vertical tabs */
  @media -moz-pref("sidebar.revamp") {
    @media not -moz-pref("sidebar.verticalTabs") {
      &#sidebar-launcher-splitter {
        display: block !important;
      }
    }
  }
}

#sidebar-box {
  background-color: var(--toolbar-bgcolor) !important;
  container-type: inline-size;
}
#sidebar-panel-header {
  padding-inline: var(--space-medium) !important;
  padding-block-start: var(--space-small) !important;
}
#sidebar-panel-close {
  --button-size-icon: 18px;
  --icon-size-default: 14px;

  opacity: 0.75;
}

/* Switches padding from ../extras/round_ui.css to margin
 * so the sidebar looks round when the bookmark bar is visible */
:root[BookmarksToolbarOverlapsBrowser] {
  .newTabBrowserPanel,
  #sidebar-box {
    padding-top: 0px !important;
    margin-top: var(--bookmarks-toolbar-overlapping-browser-height);
  }
}

/* Hides sidebar scrollbar */
.hidevscroll-scrollbar {
  display: none;
}

/* Sidebar content */
.sidebar-placesTree treechildren {
  /* Decreases indentation */
  &::-moz-tree-indentation {
    width: 4px !important;
  }

  /* Spaces rows out, slightly rounds corners */
  &::-moz-tree-row {
    min-height: 28px !important;
    border-radius: 4px;
  }
}
