/* Main sidebar appearance */

/* Allows more shrinking of the sidebar,
 * adds a little margin,
 * and colors it */
#sidebar-box {
  min-width: 36px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  background-color: var(--toolbar-bgcolor) !important;
  container-type: inline-size;
}

/* Switches padding from ../extras/round_ui.css to margin
 * so the sidebar looks round when the bookmark bar is visible */
:root[BookmarksToolbarOverlapsBrowser] {
  .newTabBrowserPanel,
  #sidebar-box {
    padding-top: 0px !important;
    margin-top: var(--bookmarks-toolbar-overlapping-browser-height);
  }
}

/* Adjusts the sidebar header */
#sidebar-header {
  display: none;
  opacity: 0.75 !important;
  margin-bottom: 4px !important;

  > #sidebar-switcher-target {
    margin-left: -4px !important;
    > #sidebar-icon {
      margin-right: 4px;
    }
    > #sidebar-title {
      font-size: 14px;
    }
  }
}

/* TODO: fix this to fit different sidebar title lengths */
/* Hides sidebar title and switcher arrow according to sidebar width */
@container (max-width: 84px) {
  #sidebar-switcher-arrow {
    visibility: hidden;
  }
}
@container (max-width: 72px) {
  #sidebar-title {
    visibility: hidden;
  }
}

/* Shrinks the sidebar splitter */
.sidebar-splitter {
  border: 0 !important;
  width: 2px !important;
  /* It seems to be completely disabled if opacity is 0? */
  opacity: 0.01;
}

/* Hides sidebar scrollbar */
.hidevscroll-scrollbar {
  display: none;
}

/* Hides close button */
/* Don't use display: none or the other ui elements will shift */
.close-icon {
  visibility: hidden;
}

/* Sidebar content */

.sidebar-placesTree treechildren {
  /* Decreases indentation */
  &::-moz-tree-indentation {
    width: 4px !important;
  }

  /* Spaces rows out, slightly rounds corners */
  &::-moz-tree-row {
    min-height: 28px !important;
    border-radius: 4px;
  }
}
