@media -moz-pref("sidebar.verticalTabs") {
  :root {
    --tabstrip-inner-border: 0 !important;
    --tab-min-height: max(
      30px,
      calc(var(--tab-label-line-height) * 1em)
    ) !important;

    --tab-block-margin: 1px !important;

    --tab-inner-inline-margin: var(--space-xsmall) !important;
    --tab-pinned-container-margin-inline-expanded: 0 !important;

    --tab-inline-padding: var(--space-small) !important;
    --tab-label-mask-size: 0.5em !important; /* the fade at the hidden end of the tab */
  }
}

/* Collapsed vertical tabs */
#tabbrowser-tabs[orient="vertical"]:not([expanded]) {
  #vertical-pinned-tabs-container .tabbrowser-tab,
  .tab-background,
  .tab-content,
  #tabs-newtab-button,
  #vertical-tabs-newtab-button {
    margin-inline: auto !important;
  }

  #vertical-pinned-tabs-container {
    .tabbrowser-tab,
    .tab-background {
      width: 100% !important;
    }
  }
}

#vertical-pinned-tabs-container .tab-background {
  min-height: calc(1.25 * var(--tab-min-height)) !important;
}

#tabs-newtab-button,
#vertical-tabs-newtab-button {
  .toolbarbutton-text {
    display: none;
  }
}

.tools-and-extensions {
  justify-content: center !important;
  overflow: auto !important;

  &[orientation="horizontal"] {
    flex-wrap: nowrap !important;
    padding-inline: 0 !important;
  }
}

@media -moz-pref("sidebar.verticalTabs") {
  .tools-and-extensions[orientation="vertical"] {
    flex-direction: row !important;
    max-width: calc(1.5 * var(--tab-min-height)) !important;
  }
}

/**************/
/* Tab groups */
/**************/

#tabbrowser-tabs[orient="vertical"] tab-group {
  display: block !important;
  margin-block: 2px;
  border-radius: var(--tab-border-radius);
  border: 1px solid
    light-dark(var(--tab-group-color), var(--tab-group-color-invert));

  .tab-group-label {
    padding-inline-start: calc(-1 * var(--tab-group-line-thickness)) !important;
    background-color: transparent !important;
    color: light-dark(
      var(--tab-group-color),
      var(--tab-group-color-invert)
    ) !important;
  }

  &:not([collapsed]) {
    /* Faint theme color for background */
    background-color: rgb(
      from light-dark(var(--tab-group-color), var(--tab-group-color-invert)) r g
        b / 0.04
    );
  }

  &[collapsed] {
    border-color: transparent;

    > .tab-group-label-container > .tab-group-label {
      /* Remove label outline when collapsed */
      outline: none !important;
    }
  }
}

#tabbrowser-tabs[orient="vertical"][expanded] tab-group .tabbrowser-tab {
  /* Remove tab indent, the border is clear enough */
  margin-inline-start: 0 !important;
}

:root {
  --tab-group-label-padding: 2px !important;
  --tab-group-line-thickness: 0 !important;

  /* Catppuccin latte & mocha */
  --tab-group-color-blue: #1e66f5 !important; /* blue */
  --tab-group-color-blue-invert: #89b4fa !important;

  --tab-group-color-purple: #8839ef !important; /* mauve */
  --tab-group-color-purple-invert: #cba6f7 !important;

  --tab-group-color-cyan: #179299 !important; /* teal */
  --tab-group-color-cyan-invert: #94e2d5 !important;

  --tab-group-color-orange: #dd7878 !important; /* flamingo */
  --tab-group-color-orange-invert: #fab387 !important; /* peach */

  --tab-group-color-yellow: #dc8a78 !important; /* rosewater */
  --tab-group-color-yellow-invert: #f9e2af !important; /* yellow */

  --tab-group-color-pink: #ea76cb !important; /* pink */
  --tab-group-color-pink-invert: #f5c2e7 !important;

  --tab-group-color-green: #40a02b !important; /* green */
  --tab-group-color-green-invert: #a6e3a1 !important;

  --tab-group-color-red: #e64553 !important; /* maroon */
  --tab-group-color-red-invert: #eba0ac !important;

  --tab-group-color-gray: #7287fd !important; /* lavender */
  --tab-group-color-gray-invert: #b4befe !important;
}
