[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=mimvoid_scripts
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Mimvoid's Scripts
Comment=A collection of Krita Python scripts by mimvoid.
