$font-family: "0xProto Nerd Font", monospace;
$font-size: 10px;

$display: "RitzFLF", serif;
$display-size: 48px;

$menu-size: 12.5px;
$title-size: 15px;


@mixin font-family() {
  font-family: $font-family;
}
@mixin font-size($scale: 1) {
  font-size: $font-size * $scale;
}
@mixin font($scale: 1) {
  @include font-family;
  @include font-size($scale);
}

@mixin display-family() {
  font-family: $display;
}
@mixin display-size($scale: 1) {
  font-size: $display-size * $scale
}
@mixin display($scale: 1) {
  font-family: $display;
  font-size: $display-size * $scale; 
}

@mixin menu-size($scale: 1) {
  font-size: $menu-size * $scale;
}
@mixin title-size($scale: 1) {
  font-size: $title-size * $scale;
}
