@use "palette";
@use "abstracts/looks";
@use "abstracts/fonts";

.audio-popover {
  .speaker {
    $c: palette.$tertiary-bright;

    trough highlight {
      background-color: $c;
    }
    button {
      @include looks.color-toggle($c);
    }
  }

  .microphone {
    $c: palette.$tertiary;

    trough highlight {
      background-color: $c;
    }
    button {
      @include looks.color-toggle($c);
    }
  }

  button {
    margin-right: 0.75rem;
  }
}

.bluetooth-popover {
  .status {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    button {
      margin-right: 0.75rem;
      @include looks.color-toggle(palette.$tertiary);
    }
  }

  .device {
    padding: 0.5rem;

    image {
      -gtk-icon-style: symbolic;
      color: palette.$tertiary;
    }

    .device-info {
      @include looks.transition;
      margin-left: 0.75rem;
      color: palette.$string-dim;
      opacity: 0;

      image {
        color: palette.$string-dim;
      }
    }

    &:hover .device-info {
      opacity: 1;
    }
  }
}

.network-popover {
  .current {
    image {
      @include looks.transition;
    }

    button {
      margin-right: 0.75rem;
      @include looks.color-toggle(palette.$tertiary-dim);
    }
  }
}

.colors-popover {
  > box {
    min-width: 20rem;
  }

  .color-box {
    @include looks.radius;
    min-width: 2.5rem;
    min-height: 2.5rem;
    margin-right: 0.75rem;
  }

  .main-info {
    padding-left: 0;
  }

  .actions {
    opacity: 0.5;
    padding: 0.25rem;
  }

  .converter {
    .color-box {
      margin: 0;
    }

    colorswatch {
      @include looks.radius;
      min-width: 8rem;
      min-height: 6rem;
    }

    entry {
      @include fonts.menu-size;
      min-width: 16em;
      margin: 0.5em 0;
      color: palette.$string;
    }
  }
}
