@use "sass:color";
@use "palette";
@use "abstracts/looks";
@use "abstracts/fonts";

.big-clock {
  margin: 2em 2em 1em;

  .hour,
  .minute {
    @include fonts.display-size(1.8);
  }

  .hour {
    margin-bottom: 0.35em;
    color: palette.$string;
  }

  .minute {
    margin-left: 0.15em;
    color: palette.$tertiary-bright;
    @include looks.text-stroke(2px, color.change(palette.$base, $alpha: 1));
  }

  .second {
    @include fonts.display-size;
    color: color.mix(palette.$string-dim, palette.$string);
  }

  .minor-time {
    min-width: 6em;
    margin-left: 0.5em;
    margin-bottom: 1em;
  }
}

.calendar-wrapper {
  margin: 1rem;

  .header {
    margin-bottom: 1rem;
    padding: 0 0.5em;

    label {
      @include fonts.title-size;
    }

    .month-switcher label {
      margin-left: 0.25em;
    }

    .year-switcher label {
      margin-right: 0.25em;
    }

    button {
      margin-right: 0.2em;
      padding: 0.2em;
      color: color.adjust(palette.$string, $alpha: -0.5);

      &:focus,
      &:hover {
        color: palette.$primary;
        background-color: transparent;
      }
    }
  }
}

calendar {
  label {
    @include fonts.title-size;
  }

  .day-number {
    margin: 0.15rem 0.5rem;
    padding: 0.4rem;

    &:not(.today):selected {
      @include looks.radius;
      background-color: palette.$box;
    }
  }

  .day-name {
    color: color.adjust(palette.$primary, $alpha: 0.3);
  }

  .week-number {
    color: color.mix(palette.$primary-dim, palette.$string-dim);
  }

  .today {
    @include looks.radius;
    font-weight: bolder;
    color: palette.$base;
    background-color: palette.$tertiary;
  }

  .other-month {
    color: palette.$string-dim;
  }
}
