@use "./palette";
@use "abstracts/fonts";
@use "abstracts/looks";

.avatar {
  @include looks.radius(1.5);
  margin: 0.5rem 0.75rem 0.5rem 0;
  min-width: 5rem;
  min-height: 5rem;
}

.user-info label {
  margin: 0;
}

.dashboard {
  .toggles {
    button {
      padding: 1.5em;
    }

    image {
      @include fonts.title-size;
    }
  }

  .launchers image {
    color: palette.$primary;
  }
}
