@use "./palette";
@use "abstracts/fonts";
@use "abstracts/looks";

.user-info {
  image.avatar {
    @include looks.radius(1.5);
    margin: 0.5rem 0.75rem 0.5rem 0;
    min-width: 5rem;
    min-height: 5rem;
  }

  label {
    margin: 0;
  }
}

.dashboard {
  .toggles > button {
    @include looks.transition;

    margin: 0.5em;
    padding: 1.5em;

    &.on {
      background-color: palette.$primary;
      color: palette.$base;
    }

    &.off {
      background-color: palette.$box;
      color: palette.$string;
    }

    image {
      @include fonts.title-size;
    }
  }

  .launchers image {
    color: palette.$primary;
  }
}
