@use "sass:color";
@use "palette";
@use "abstracts/looks";
@use "abstracts/fonts";
@use "abstracts/space";

* {
  all: unset;
}

// Roundness
window,
scrolledwindow,
popover,
centerbox,
button,
entry,
tooltip,
trough,
highlight,
block.filled,
.box {
  @include looks.radius;
}

window.dialog {
  $bg: color.change(palette.$base, $alpha: 1);

  @include fonts.menu-size;

  color: palette.$string;
  background-color: $bg;

  > box,
  headerbar {
    padding: 1rem;
    background-color: $bg;
  }
}

popover {
  @include fonts.menu-size;

  margin: 0.25rem 0.5rem;
  padding: 1em;
  background-color: color.change(palette.$base, $alpha: 0.9);
  color: palette.$string;

  label {
    @include fonts.menu-size;
  }
}

.box {
  background-color: palette.$base;
}
.section {
  margin: 1rem;
}

.dropdown {
  > button {
    padding: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 1rem;

    image {
      @include looks.transition;
      @include fonts.font-size(1.25);
    }
  }

  &.open > button image {
    -gtk-icon-transform: rotate(-180deg);
  }
}

button {
  @include looks.transition;

  padding: 0 0.4em;
  background-color: transparent;

  &:focus {
    background-color: color.change(palette.$box-dim, $alpha: 0.05);
  }

  &:hover {
    background-color: palette.$box;
  }

  + button {
    padding-left: 0.25em;
  }
}

.big-toggle {
  @include looks.transition;
  padding: 0.75rem;

  &.on {
    background-color: palette.$primary;
    color: palette.$base;
  }

  &.off {
    background-color: palette.$box;
    color: palette.$string;
  }
}

stack {
  @include space.py(0.5em);

  + stackswitcher {
    margin-top: 1em;
  }
}

stackswitcher {
  button {
    background-color: palette.$box-dim;

    &:checked,
    &:focus,
    &:hover {
      background-color: palette.$primary-dim;
    }
  }

  &.no-labels {
    button {
      @include space.mx(2px);
      @include space.py(0.4em);

      &:focus,
      &:hover {
        @include space.px(1em);
      }
    }

    label {
      margin: 0;
      padding: 0;
      font-size: 0;
      color: transparent;
    }

    &:not(:focus-within) button:checked {
      @include space.px(1em);
    }
  }
}

menubutton {
  margin: 0;
  padding: 0;

  > button {
    margin: 0;
    padding: 0 0.4em;
  }
}

.hover-revealer {
  padding: 0;

  &:focus,
  &:hover {
    background-color: transparent;
  }
}
.hidden-child {
  padding: 0 0.5em;
}

trough {
  min-width: 8em;
  min-height: 0.6em;

  background-color: palette.$box-bright;
}

value.right {
  margin-left: 0.25em;
}

scrollbar {
  trough {
    background-color: transparent;
  }

  slider {
    min-height: 1px;
    min-width: 1px;
    background-color: palette.$box;

    &:hover {
      background-color: palette.$box-bright;
    }
  }

  &.vertical {
    trough, slider {
      min-width: 4px;
    }
  }

  &.horizontal {
    trough, slider {
      min-height: 4px;
    }
  }
}
