@use "sass:color";
@use "palette";
@use "abstracts/fonts";
@use "abstracts/looks";
@use "abstracts/space";

popover.media {
  padding: 1.5rem;

  stackswitcher {
    padding: 0 10rem;
  }

  .title {
    margin-bottom: 0.25em; // reduce
  }
}

.cava trough {
  border-radius: 6px 6px 0 0;
  min-width: 1.95em;
  min-height: 12em;
  background-color: transparent;

  highlight,
  block.filled {
    border-radius: 6px 6px 0 0;
    border: 1px solid color.change(palette.$base, $alpha: 0.1);
    border-bottom: 0;

    $color1: color.change(palette.$primary-bright, $alpha: 0.85, $lightness: 90%);
    $color2: color.change(palette.$primary, $alpha: 0.85);
    $color3: color.change(palette.$primary-dim, $alpha: 0.85);
    background-image: linear-gradient($color1 30%, $color2 70%, $color3);
  }
}

.cava-toggler {
  margin: 0.5em;
  color: palette.$string;

  image {
    filter: drop-shadow(0 0 1px color.change(palette.$base, $alpha: 1));
  }
}

.cover-art-container {
  margin: 1.5em 0;
}
.cover-art-box {
  min-height: 24rem;
  min-width: 24rem;

  &.placeholder {
    @include looks.radius;
    background-color: palette.$box;
  }
}
.cover-art {
  @include looks.radius(0.5);
}

.media-artist {
  @include fonts.menu-size;
}

.media-progress {
  margin: 1.5rem 0 0.75rem;

  trough {
    margin: 0 0.5rem;

    highlight {
      background-color: palette.$primary;
    }
  }

  .position,
  .length {
    @include fonts.font-size;
  }
}

.media-actions {
  padding: 0 2.5rem;

  image {
    @include fonts.menu-size(1.15);
  }

  button {
    @include space.mx(0.25em);
    padding: 1.25em;

    &:focus,
    &:hover {
      color: palette.$primary-bright;
      background-color: transparent;
    }

    &.play-pause {
      @include looks.transition;

      background-color: palette.$box;
      color: palette.$primary-bright;

      &:hover {
        color: palette.$base;
        background-color: palette.$primary;
      }
    }

    // Make them less noticable
    &.loop,
    &.shuffle {
      margin: 0 0.5rem;
      color: palette.$string-dim;

      &:hover {
        color: palette.$primary-bright;
      }

      &.off {
        color: color.change(palette.$string-dim, $alpha: 0.75);
      }
    }
  }
}
