@use "sass:color";
@use "palette";
@use "abstracts/fonts";
@use "abstracts/looks";

popover.media {
  padding: 1.5rem;
}

.cover-art-container {
  margin: 1.5em 0;
}
.cover-art-box {
  min-height: 24rem;
  min-width: 24rem;
}
.cover-art {
  @include looks.radius(0.5);
}

.media-artist {
  @include fonts.menu-size;
}

.media-progress {
  margin: 1.5rem 0 0.75rem 0;

  trough {
    margin: 0 0.5rem;

    highlight {
      background-color: palette.$primary;
    }
  }

  .position,
  .length {
    @include fonts.font-size;
  }
}

.media-actions {
  padding: 0 2.5rem;

  image {
    @include fonts.menu-size(1.15);
  }

  button:hover {
    color: palette.$primary-bright;
    background-color: transparent;
  }
}

button.play-pause {
  @include looks.transition;

  margin: 0 1rem;
  padding: 1.25rem;

  background-color: palette.$box;
  color: palette.$primary-bright;

  &:hover {
    color: palette.$base;
    background-color: palette.$primary;
  }
}

// Make them less noticable
button.loop, button.shuffle {
  margin: 0 1.5rem;
  color: palette.$string-dim;

  &:hover {
    color: palette.$primary-bright;
  }

  &.off {
    color: color.change(palette.$string-dim, $alpha: 0.75);
  }
}
