@use "sass:color";
@use "palette";
@use "abstracts/fonts";
@use "abstracts/looks";

.notification {
  @include looks.radius(0.4);

  margin: 0.5em 1.5em;
  padding: 0.75rem;

  border: 1px solid palette.$primary;
  background-color: palette.$base;

  &.critical {
    border: 1px solid palette.$error;
  }

  .header {
    margin: 0.5rem 0;
    color: palette.$string-dim;
  }
  .app-name {
    margin-right: 1em;
  }

  .summary,
  .body {
    @include fonts.font-size(1.2);
    padding: 0.25rem 0.75rem 0.25rem 0;
  }

  .summary {
    font-weight: bold;
    color: palette.$secondary;
  }

  .body {
    padding-bottom: 0.5rem;
    color: palette.$string;
  }

  .actions {
    color: palette.$primary-dim;
    margin: 0.5em 0.25em 0;

    button {
      padding: 0.5em;
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.notif-icon {
  .app-icon,
  .image,
  .icon-image {
    @include fonts.font-size(1.6);

    margin: 0.5rem;
    margin-right: 1rem;
    color: palette.$secondary;
  }

  .image {
    @include looks.radius;

    background-size: cover;
    background-position: center;
  }
}
