@use "./palettes/palette";
@use "./variables/looks";
@use "./variables/fonts";

.big-icon {
  @include looks.transition;
  @include fonts.title-size(1.1);
  padding: 0.5rem 0.25rem;
}

.audio-popover .section {
  &.speaker {
    $c: palette.$tertiary-bright;

    trough highlight {
      background: $c;
    }
    button icon {
      color: $c;
    }
  }

  &.microphone {
    $c: palette.$tertiary;

    trough highlight {
      background: $c;
    }
    button icon {
      color: $c;
    }
  }

  box > label {
    padding: 0;
    margin-left: 0;
  }

  button {
    margin-right: 0.75rem;
  }
}

.bluetooth-popover {
  .status {
    margin-bottom: 1rem;

    button icon {
      color: palette.$tertiary;
    }
  }

  .device {
    padding: 0.5rem;

    .device-info {
      @include looks.transition;
      margin-left: 0.75rem;
      color: palette.$string-dim;
      opacity: 0;
    }

    &:hover .device-info {
      opacity: 1;
    }
  }
}

.network-popover {
  .current {
    icon {
      @include looks.transition;
    }

    button {
      margin-right: 0.75rem;

      icon {
        color: palette.$tertiary-dim;
      }
    }
  }
}

.colors-popover {
  > box {
    min-width: 20rem;
  }

  .color-box {
    @include looks.radius;
    min-width: 2.5rem;
    min-height: 2.5rem;
  }

  .main-info {
    padding-left: 0;
  }

  .actions {
    opacity: 0.5;
    padding: 0.25rem;
  }

  .converter {
    .color-box {
      margin: 0;
    }

    colorswatch {
      @include looks.radius;
      min-width: 8rem;
      min-height: 6rem;
    }

    entry {
      @include fonts.menu-size;
      min-width: 16em;
      margin: 0.5em 0;
      color: palette.$string;
    }
  }
}
