@use "sass:color";
@import "./variables/_colors.scss";
@import "./variables/_fonts.scss";
@import "./variables/_looks.scss";

window.bar {
  background-color: transparent;
}

.left, .center, .right {
  margin-top: 4px;
  padding: 4px 6px;

  border-radius: $radius;

  color: $paleAccent;
  background-color: change-color($base, $alpha: 0.70);
}

.left { margin-left: 14px; }
.right { margin-right: 14px; }


/* General widget properties */

button {
  padding: 0 4px;

  min-width: 0;
 
  border-radius: $radius;
  background-color: transparent;

  &:hover {
    background-color: change-color($dullAccent, $alpha: 0.25);
    transition: all 0.2s ease-in-out;
  }
}

label {
  margin: 0 4px;
}

.volume, .battery {
  margin: 0 4px;
}

/* Default overwrites */
.workspaces label {
  margin: 0;
}


/* Modules */

/* Workspaces */

.workspaces button {
  padding: 0 6px;

  color: $secAccent;
  background-color: transparent;

  &.focused {
    color: $alert;
    background-color: change-color($dullAccent, $alpha: 0.2);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: $base;
    background-color: change-color($secAccent, $alpha: 0.85);
    transition: all 0.2s ease-in-out;
  }
}

/* Title */
.client-title {
  margin-left: 10px;
  color: $secAccent;
}

/* Date */
.clock {
  color: adjust-color($watch, $lightness: 10);

  /* disable default button background color */
  &:hover { background-color: transparent; };
}

/* System tray */
.system-tray {
  margin: 0 2px;
}

/* Network */
.network {
  color: $warning;
}

/* Bluetooth */
.bluetooth {
  color: #8aadf4;
}

/* Volume */
/* FIX: the slider is not visible */

.volume {
  color: #7dc4e4;
}

.volume-slider {
  min-width: 48px;
  min-height: 4px;
  background-color: #494d64;
  color: #7dc4e4;
}

/* Battery */

/* TODO: different colors for battery percentages */
.battery {
  color: $alert;

  .charging { color: $alert; }
}

.wlsunset-toggle {
  color: adjust-color($watch, $lightness: 8);
}

/* Power actions */
.power-actions {
  margin: 0 0 0 6px;
  padding: 0 4px;
  color: $mainAccent;
  background-color: change-color($dullAccent, $alpha: 0.2);

  &:hover {
    color: $base;
    background-color: change-color($secAccent, $alpha: 0.85);
    transition: all 0.2s ease-in-out;
  }
}
