@use "sass:color";
@import "./palettes/_current-palette.scss";
@import "./variables/_fonts.scss";
@import "./variables/_looks.scss";

window.bar > box {
  margin: 4px 14px;
  border-radius: $radius;
  
  color: $primary;
  background-color: transparent;
}

.left, .center, .right {
  padding: 4px 8px;
  border-radius: $radius;
  background-color: $base;
}

/* Widget-specific spacing */

.workspaces {
  button {
    margin: 0 2px;
  }

  label {
    margin: 0;
  }
}

.volume, .battery {
  margin: 0 4px;
}

.system-tray {
  margin: 0 2px;
}


/* Modules */

.workspaces button {
  padding: 0 6px;
  background-color: transparent;

  &.focused {
    color: $tertiary;
    background-color: $box;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: change-color($base, $alpha: 1);
    background-color: change-color($primary, $alpha: 0.85);
    transition: all 0.2s ease-in-out;
  }
}

.client-title {
  margin-left: 10px;
}

/* disable default button background color */
.clock:hover {
  background-color: transparent;
}

/* Change icons to Papirus for more compatibility */
.system-tray image {
  all: unset;
  -gtk-icon-theme: 'Papirus';
}

.network {
  color: $tertiary-dim;
}

.bluetooth {
  color: $tertiary;
}

.volume {
  color: $tertiary-bright;
  label { margin-left: 2px; }
  trough highlight { background-color: $tertiary-bright; }
}

/* TODO: different colors for battery percentages */
.battery {
  color: $good;
  label { margin-left: 6px; }
  
  .charging { color: $good; }
}

.brightness {
  color: adjust-color($error, $lightness: 8);
  
  .brightness-revealer {
    min-width: 4px;
  }

  trough highlight {
    background-color: adjust-color($error, $lightness: 8);
  }
}

.power-actions {
  margin: 0 0 0 2px;
  padding: 0 4px;
  background-color: $box;

  &:hover {
    color: change-color($base, $alpha: 1);
    background-color: change-color($primary, $alpha: 0.85);
    transition: all 0.2s ease-in-out;
  }
}
