@use "sass:color";
@import "./palettes/_current-palette.scss";
@import "./variables/_fonts.scss";
@import "./variables/_looks.scss";

.bar centerbox {
  margin: 3px 12px 1px;
  border-radius: $radius;

  color: $primary;
  background-color: transparent;
}

.left > *,
.center > * {
  padding: 4px 8px;
}

.icon-label {
  margin: 0 4px;
}

/*---------*/
/* Modules */
/*---------*/

.workspaces {
  /* Make workspace buttons slimmer */
  padding: 6px;

  button {
    margin: 0 2.5px;
    padding: 0 5px;
    color: transparent;
    background-color: $primary;

    /* Expand active workspace GNOME-style */
    &.focused {
      padding: 0 12px;
      background-color: $primary-dim;
      transition: all 0.15s ease-in-out;
    }

    &:hover {
      background-color: $tertiary-dim;
      transition: all 0.2s ease-in-out;
    }
  }
}

.clock {
  padding-right: 0;

  icon {
    margin: 0 4px;
  }

  /* Disable default button background color */
  &:hover {
    background-color: transparent;
  }
}

.system-tray {
  margin: 0 2px;

  /* Change icons to Papirus for more compatibility */
  image {
    all: unset;
    -gtk-icon-theme: "Papirus";
  }
}
.hider {
  padding: 0 6px;
  border-radius: $radius;
  opacity: 0.7;
  color: $tertiary-dim;
  transition: all 0.2s ease-in-out;

  &.open {
    -gtk-icon-transform: rotate(-90deg);
    opacity: 0.5;
  }
}

.network {
  color: $tertiary-dim;
}

.bluetooth {
  color: $tertiary;
}

.sound {
  color: $tertiary-bright;

  label {
    margin-left: 2px;
  }

  trough highlight {
    background-color: $tertiary-bright;
  }
}

.battery {
  color: $good;

  icon {
    -gtk-icon-transform: rotate(90deg);
  }

  label {
    margin-left: 6px;
  }

  .charging {
    color: $good;
  }
}

.brightness {
  color: adjust-color($error, $lightness: 8%);

  /* Widen the hit box */
  .brightness-revealer {
    min-width: 4px;
  }

  trough highlight {
    background-color: adjust-color($error, $lightness: 8%);
  }
}

.power-actions {
  margin: 0 0 0 2px;
  padding: 0 6px;
  background-color: $box;

  &:hover {
    color: change-color($base, $alpha: 1);
    background-color: change-color($primary, $alpha: 0.9);
    transition: all 0.2s ease-in-out;
  }
}
