@use "sass:color";
@use "./palettes/palette";
@use "./variables/looks";

.calendar {
  all: unset;
  padding: 12px;
  padding-bottom: 6px;
  background-color: color.change(palette.$base, $alpha: 0.9);
}

.calendar .display {
  margin: 2px 0 12px;
  color: palette.$string;
  text-decoration: underline solid palette.$primary;
}

.calendar calendar {
  font-size: 15px;
  color: palette.$string;

  // Keep week numbers aligned
  &:not(.highlight) {
    padding: 5px;
  }

  &.button {
    color: color.adjust(palette.$string, $alpha: -0.5);
    border-radius: looks.$radius;

    &:hover {
      background-color: palette.$box;
      transition: all 0.2s ease-in-out;
    }
  }

  /* Week numbers & day names */
  &.highlight {
    color: color.adjust(palette.$primary, $alpha: 0.3);
  }

  /* Defaults to current day */
  &:selected {
    color: palette.$tertiary;
  }

  /* Days outside the current month */
  &:indeterminate {
    color: color.adjust(palette.$string, $alpha: 0.6);
  }
}
