@use "sass:color";
@import "./palettes/_current-palette.scss";
@import "./variables/_looks.scss";

// TODO: configure individual elements of calendar

calendar {
  all: unset;
  padding: 4px;
  border-radius: $radius;

  font-size: 15px;

  background-color: $base;
  color: $text; 
}
