@use "sass:color";
@import "./palettes/_current-palette.scss";
@import "./variables/_looks.scss";

.calendar {
  all: unset;
  padding: 12px;
  border-radius: $radius;
  background-color: $base;
}

.calendar calendar {
  padding: 4px;
  font-size: 15px;
  color: $text;

  &.button {
    border-radius: $radius;

    &:hover {
      background-color: $box;
      transition: all 0.2s ease-in-out;
    }
  }

  /* Week numbers & day names */
  &.highlight {
    color: transparentize($text, 0.25);
  }

  /* Defaults to current day */
  &:selected {
    border-radius: $radius;
    color: $base;
    background-color: $secondary;
  }
}
