@use "./palettes/palette";
@use "./variables/fonts";
@use "./variables/looks";

#dashboard > box {
  background-color: palette.$base;
  margin: 0;
}

.dashboard box {
  @include fonts.menu-size;

  .container, .container box {
    margin: 0.5em;
    padding: 0.25em;
  }
}

.user-info {
  box.avatar {
    @include looks.radius(1.5);
    margin: 0.5rem 0.75rem 0.5rem 0;
    min-width: 5rem;
    min-height: 5rem;
  }

  label {
    margin: 0;

    &.avatar {
      color: palette.$primary-bright;
    }
  }
}

.dashboard .toggle-button {
  @include looks.transition;

  margin: 0.5em;
  padding: 1.5em;

  &.on {
    background-color: palette.$primary;
    color: palette.$base;
  }

  &.off {
    background-color: palette.$box;
    color: palette.$string;
  }

  icon {
    @include fonts.menu-size;
  }
}

.dashboard .stat-box {
  // Icon names aren't supported by Adwaita
  .cpu icon,
  .memory icon {
    @include looks.fallback-icons;
  }

  icon {
    @include fonts.menu-size;
  }

  trough {
    min-width: 16em;
    margin: 0 1em;
  }
}

.cpu {
  color: palette.$error;

  block.filled {
    background-color: palette.$error;
  }
}

.memory {
  color: palette.$good;

  block.filled {
    background-color: palette.$good;
  }
}

.disk {
  color: palette.$secondary;

  block.filled {
    background-color: palette.$secondary;
  }
}
