@use "sass:color";
@use "./palettes/palette";
@use "./variables/looks";
@use "./variables/fonts";

* {
  all: unset;
  @include fonts.font;
  -gtk-icon-theme: "Adwaita";
}

.display {
  @include fonts.display;
}

window {
  @include looks.radius;

  &.popover > box {
    @include looks.radius(0.66);
    @include fonts.menu-size;

    padding: 1em;
    background: color.change(palette.$base, $alpha: 0.9);
    color: palette.$string;

    .section {
      margin: 1rem;
    }

    label {
      @include fonts.font-size(1.25);

      &.title {
        @include fonts.menu-size;
        margin-left: 0;
        margin-bottom: 0.75rem;
        font-weight: bolder;
        color: palette.$primary-bright;
      }
    }

    trough {
      margin: 0.5rem 0.5rem 0.5rem 0;
      min-height: 0.6rem;

      + label {
        margin-left: 0;
      }
    }
  }
}

.box {
  @include looks.radius;
  background-color: palette.$base;
}

.container {
  @include looks.radius;
  background-color: palette.$box-dim;
}

.with-bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: palette.$box;
}

.dropdown {
  > button {
    padding: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 1rem;

    icon {
      @include looks.transition;
      @include fonts.font-size(1.25);
    }
  }

  &.open > button icon {
    -gtk-icon-transform: rotate(-180deg);
  }
}

button {
  @include looks.radius;
  @include looks.transition;

  padding: 0 0.4em;
  background-color: transparent;

  &:focus, &:hover {
    background-color: palette.$box;
  }
}

label {
  margin: 0 0.4em;
}

entry {
  @include looks.radius;
  padding: 0.5rem;
  background-color: palette.$box-dim;
}

trough {
  @include looks.radius;

  min-width: 8em;
  min-height: 0.6em;
  margin: 0 0.25em;

  background-color: palette.$box-bright;

  highlight, block.filled {
    @include looks.radius;
  }
}

tooltip {
  background-color: transparent;
  border: none;

  label {
    @include looks.radius;

    padding: 0.5em 1em;
    color: palette.$string;
    background-color: color.change(palette.$base, $alpha: 0.7);
  }
}

dialog {
  $bg: color.change(palette.$base, $alpha: 1);

  @include looks.radius;
  @include fonts.menu-size;

  background-color: $bg;
  color: palette.$string;

  > box,
  headerbar {
    background-color: $bg;
    padding: 1rem;
  }
}
