@import "./palettes/_current-palette.scss";
@import "./variables/_looks.scss";

/* WIP */

.logout {
  color: $text;
  background-color: transparent;
}

.logout icon {
  size: 16px; /* ?? */
  
  &:hover {
    size: 20px;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
  }
}

.logout button {
  margin: 4px;
  border-radius: 24px;

  opacity: 0.75;
  color: $text;
  background-color: $base;

  animation: gradient_f 20s ease-in infinite;

  &:hover {
    background-color: $secondary;
    color: $base;
    background-size: 25%;
    transition: background-color 0.1s linear;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), background-color 0.05s ease-in-out;
	  opacity: 0.85;
  }
}
