@use "sass:color";
@use "./palettes/palette";
@use "./variables/fonts";
@use "./variables/looks";

window#media > box {
  padding: 1em;
}

#media box {
  @include fonts.menu-size;
  padding: 0.25em;

  .cover-art {
    @include looks.radius(0.5);

    min-height: 20em;
    min-width: 20em;
    margin: 1.5em 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .media-title {
    @include fonts.menu-size(1.25);

    margin-bottom: 4px;

    font-weight: bolder;
    color: palette.$primary-bright;
  }

  .media-artist {
    @include fonts.menu-size;
  }
}

.media-progress {
  margin-top: 1em;

  trough {
    min-width: 22em;

    highlight {
      background-color: palette.$primary;
    }
  }
}

.media-actions {
  @include looks.transition;
  padding: 0 5em; // bring closer together

  icon {
    @include fonts.menu-size(1.15);
  }

  button:hover {
    color: palette.$primary-bright;
    background-color: transparent;
  }

  .play-pause {
    @include looks.transition;

    margin: 0 1em;
    padding: 1.25em;

    background-color: palette.$box;
    color: palette.$primary-bright;

    &:hover {
      color: palette.$base;
      background-color: palette.$primary;
    }
  }

  // Make them less noticable
  .loop, .shuffle {
    color: palette.$string-dim;

    &:hover {
      color: palette.$primary-bright;
    }

    &.off {
      color: color.change(palette.$string-dim, $alpha: 0.75);
    }
  }
}
