@use "./variables/fonts";
@use "./variables/looks";

.media box {
  font-size: fonts.$font-size * 2;
  padding: 12px;

  .cover-art {
    min-height: 15em;
    min-width: 15em;
    margin: 0.75em 0;
    border-radius: looks.$radius * 0.5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .media-title {
    font-weight: bolder;
    margin-bottom: 4px;
  }
  .media-title,
  .media-artist {
    font-size: fonts.$font-size * 1.5;
  }

  .media-actions icon {
    font-size: fonts.$font-size * 1.75;
    padding: 2px;
  }
}
