@use "sass:color";
@use "./palettes/palette";
@use "./variables/fonts";
@use "./variables/looks";

window.notification-popups box.notifications {
  min-width: 15rem;
  min-height: 1rem;
  margin: 12px;
}

.notification {
  padding: 16px;
  border-radius: looks.$radius * 0.25;

  background-color: palette.$base;

  border: 1px solid palette.$primary;

  &.critical {
    border: 1px solid palette.$error;
  }
}

.notif-box {
  padding: 0.25rem;

  .icon {
    font-size: fonts.$font-size;
  }

  .header {
    padding: 0.5rem;
    color: palette.$string-dim;
  }

  .content {
    .image {
      border-radius: looks.$radius;
      background-size: cover;
      background-position: center;
    }

    .icon-image icon {
      margin: 4px;
      font-size: 16px;
      color: palette.$secondary;
    }

    .summary, .body {
      font-size: fonts.$font-size * 1.2;
      color: palette.$string;
    }

    .summary {
      padding: 0.25rem 0.5rem;
      font-weight: bold;
      color: palette.$secondary-bright;
    }

    .body {
      padding: 0.5rem;
      padding-top: 0.25rem;
    }
  }
}

.notification.actions {
  color: palette.$primary-dim;
  margin: 4px 2px 0 2px;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
