@use "sass:color";
@use "./palettes/palette";
@use "./variables/fonts";
@use "./variables/looks";

.notification {
  margin: 4px 12px;
  padding: 0.25rem;

  border-radius: looks.$radius * 0.4;
  border: 1px solid palette.$primary;

  background-color: palette.$base;

  &.critical {
    border: 1px solid palette.$error;
  }

  .icon {
    .app-icon, .image, .icon-image {
      margin: 4px;
      margin-left: 8px;
      font-size: fonts.$font-size * 1.6;
      color: palette.$secondary;
    }

    .image {
      border-radius: looks.$radius;
      background-size: cover;
      background-position: center;
    }
  }

  .header {
    padding: 0.5rem;
    color: palette.$string-dim;
  }

  .content {
    .summary, .body {
      padding: 0.25rem 0.5rem;
      min-width: 12em;
      font-size: fonts.$font-size * 1.2;
    }

    .summary {
      font-weight: bold;
      color: palette.$secondary;
    }

    .body {
      padding-bottom: 0.5rem;
      color: palette.$string;
    }
  }
}

.notification.actions {
  color: palette.$primary-dim;
  margin: 4px 2px 0 2px;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
