@use "sass:color";
@use "./palettes/palette";
@use "./variables/fonts";
@use "./variables/looks";

.notification {
  @include looks.radius(0.4);

  margin: 4px 12px;
  padding: 0.25rem;

  border: 1px solid palette.$primary;
  background-color: palette.$base;

  &.critical {
    border: 1px solid palette.$error;
  }

  .notif-icon {
    .app-icon, .image, .icon-image {
      @include fonts.font-size(1.6);

      margin: 4px;
      margin-left: 8px;
      color: palette.$secondary;
    }

    .image {
      @include looks.radius;

      background-size: cover;
      background-position: center;
    }
  }

  .header {
    padding: 0.5rem;
    color: palette.$string-dim;
  }

  .content {
    .summary, .body {
      @include fonts.font-size(1.2);

      padding: 0.25rem 0.5rem;
      min-width: 12em;
    }

    .summary {
      font-weight: bold;
      color: palette.$secondary;
    }

    .body {
      padding-bottom: 0.5rem;
      color: palette.$string;
    }
  }
}

.notification.actions {
  color: palette.$primary-dim;
  margin: 4px 2px 0 2px;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
