@use "sass:color";
@import "./palettes/_current-palette.scss";
@import "./variables/_looks.scss";

.session {
  color: $primary-bright;

  icon {
    margin: 4rem 6rem;
    font-size: 4rem;
    transition:
      all 0.4s cubic-bezier(0.55, 0, 0.25, 1.68),
      color 0s linear;
  }

  .box {
    border-radius: 2px;

    &:focus {
      color: $primary;
      border-radius: $radius;

      icon {
        font-size: 4.5rem;
      }
    }

    &:hover {
      margin: 6px;
      color: $base;
      background-color: $primary;
      border-radius: $radius;

      icon {
        font-size: 4.75rem;
      }
    }
  }

  .lock {
    border-top-left-radius: $radius;
    margin: 0.75rem 2px 2px 0.75rem;

    &:hover,
    &:focus {
      border-bottom-right-radius: 2px;
    }
  }
  .logout {
    background-color: change-color($base, $alpha: 0.7);
    border-bottom-left-radius: $radius;
    margin: 2px 2px 0.75rem 0.75rem;

    &:hover,
    &:focus {
      border-top-right-radius: 2px;
    }
  }
  .reboot {
    background-color: change-color($base, $alpha: 0.7);
    border-top-right-radius: $radius;
    margin: 0.75rem 0.75rem 2px 2px;

    &:hover,
    &:focus {
      border-bottom-left-radius: 2px;
    }
  }
  .shutdown {
    border-bottom-right-radius: $radius;
    margin: 2px 0.75rem 0.75rem 2px;

    &:hover,
    &:focus {
      border-top-left-radius: 2px;
    }
  }
}
