@use "sass:color";

/* custom modules & variables */
@use "./palettes/palette";
@use "./variables/looks";
@use "./variables/fonts";

/* stylesheets */
@use "./bar";
@use "./dashboard";
@use "./calendar";
@use "./notifications";
@use "./session";
@use "./media";

* {
  all: unset;
  @include fonts.font;
  -gtk-icon-theme: "Adwaita";
}

window {
  @include looks.radius;
}

.display {
  @include fonts.display;
}

.box {
  @include looks.radius;
  background-color: palette.$base;
}

.in-box {
  @include looks.radius;
  background-color: palette.$box-dim;
}

button {
  @include looks.radius;

  padding: 0 4px;
  min-width: 0;
  background-color: transparent;

  &:hover {
    @include looks.transition;
    background-color: palette.$box;
  }
}

label {
  margin: 0 4px;
}

trough {
  @include looks.radius;

  margin: 0 0.25em;
  min-width: 8em;
  min-height: 0.6em;

  background-color: palette.$box-bright;

  highlight {
    @include looks.radius;
  }

  block.filled {
    @include looks.radius;
  }
}

window.popup {
  menu {
    @include looks.radius(0.66);

    padding: 8px;
    background-color: color.change(palette.$base, $alpha: 0.7);
    color: palette.$string;
  }

  menuitem {
    margin: 2px;
  }
}

tooltip {
  background-color: transparent;
  border: none;

  > * > * {
    @include looks.radius;

    padding: 4px 8px;
    background-color: color.change(palette.$base, $alpha: 0.7);
    color: palette.$string;
  }
}
