@use "sass:color";
@import "./variables/_looks.scss";
@import "./variables/_fonts.scss";
@import "./bar.scss";
@import "./calendar.scss";
@import "./notifications.scss";

* {
  all: unset;
  font-family: $font-family;
  font-size: $font-size;
  -gtk-icon-theme: "Adwaita";
}

.box {
  border-radius: $radius;
  background-color: $base;
}

button {
  padding: 0 4px;

  min-width: 0;

  border-radius: $radius;
  background-color: transparent;

  &:hover {
    background-color: $box;
    transition: all 0.2s ease-in-out;
  }
}

label {
  margin: 0 4px;
}

trough {
  min-width: 42px;
  min-height: 4px;
  border-radius: $radius;
  background-color: $box;

  highlight {
    border-radius: $radius;
  }
}

window.popup {
  menu {
    padding: 8px;
    border-radius: $radius * 0.66;
    background-color: change-color($base, $alpha: 0.7);
    color: $string;
  }

  menuitem {
    margin: 2px;
  }
}

tooltip {
  background-color: transparent;
  border: none;

  > * > * {
    padding: 4px 8px;
    border-radius: $radius;
    background-color: change-color($base, $alpha: 0.7);
    color: $string;
  }
}
