@use "sass:color";

/* custom modules & variables */
@use "./palettes/palette";
@use "./variables/looks";
@use "./variables/fonts";

/* stylesheets */
@use "./bar";
@use "./dashboard";
@use "./calendar";
@use "./notifications";
@use "./session";
@use "./media";

* {
  all: unset;
  font-family: fonts.$font-family;
  font-size: fonts.$font-size;
  -gtk-icon-theme: "Adwaita";
}

window {
  border-radius: looks.$radius;
}

.display {
  padding: 2rem;
  font-family: fonts.$display;
  font-size: fonts.$display-size;
}

.box {
  border-radius: looks.$radius;
  background-color: palette.$base;
}

.in-box {
  border-radius: looks.$radius;
  background-color: palette.$box-dim;
}

button {
  padding: 0 4px;

  min-width: 0;

  border-radius: looks.$radius;
  background-color: transparent;

  &:hover {
    background-color: palette.$box;
    transition: all 0.2s ease-in-out;
  }
}

label {
  margin: 0 4px;
}

trough {
  min-width: 42px;
  min-height: 4px;
  border-radius: looks.$radius;
  background-color: palette.$box;

  highlight {
    border-radius: looks.$radius;
  }
}

window.popup {
  menu {
    padding: 8px;
    border-radius: looks.$radius * 0.66;
    background-color: color.change(palette.$base, $alpha: 0.7);
    color: palette.$string;
  }

  menuitem {
    margin: 2px;
  }
}

tooltip {
  background-color: transparent;
  border: none;

  > * > * {
    padding: 4px 8px;
    border-radius: looks.$radius;
    background-color: color.change(palette.$base, $alpha: 0.7);
    color: palette.$string;
  }
}
