@use "sass:color";

$base: color.change({{ colors.background.default.rgba | set_alpha: 0.8 }},
  $lightness: 12%);

$box: color.change({{ colors.surface_variant.default.rgba | set_alpha: 0.5 }},
  $lightness: 25%);
$box-bright: color.change({{ colors.surface_bright.default.rgba | set_alpha: 0.5 }},
  $lightness: 35%);
$box-dim: color.change({{ colors.surface_dim.default.rgba | set_alpha: 0.5 }},
  $lightness: 20%);

$string: {{ colors.on_background.default.rgb }};
$string-dim: {{ colors.on_surface_variant.default.rgb }};

$shadow: {{ colors.shadow.default.rgb }};

$primary: {{ colors.primary.default.rgb }};
$primary-bright: {{ colors.primary_fixed.default.rgb }};
$primary-dim: {{ colors.primary_container.default.rgb }};

$secondary: {{ colors.secondary.default.rgb }};
$secondary-bright: {{ colors.secondary_fixed.default.rgb }};
$secondary-dim: {{ colors.secondary_container.default.rgb }};

$tertiary: {{ colors.tertiary.default.rgb }};
$tertiary-bright: {{ colors.tertiary_fixed.default.rgb }};
$tertiary-dim: {{ colors.tertiary_container.default.rgb }};

$good: {{ colors.green.default.rgb}};
$warn: {{ colors.yellow.default.rgb }};
$error: {{ colors.error.default.rgb }};
