@use "sass:color";
@import "./style/partials/_looks.scss";
@import "./style/partials/_fonts.scss";
@import "./style/partials/_colors.scss";
@import "./style/bar.scss";

* {
  all: unset;
  font-family: $font-family;
  font-size: $font-size;
}

tooltip {
  background-color: transparent;
  border: none;

  >*>* {
    padding: 4px 8px;
    border-radius: $radius;
    background-color: change-color($base, $alpha: 0.70);
    color: $text;
  }
}
