@import url("../../NixOS/palettes/macchiato-nightlight.css");

* {
  all: unset;
}

window.bar {
  background-color: transparent;
  font-family: "SauceCodePro Nerd Font", monospace;
  font-size: 10px;
}

.left, .center, .right {
  margin-top: 4px;
  padding: 4px 6px;
  color: @paleAccent;
  background-color: alpha(@base, 0.70);
  border-radius: 16px;
}

.left { margin-left: 14px; }
.right { margin-right: 14px; }


/*------------------------*/
/* Widget type properties */
/*------------------------*/

button {
  min-width: 0;
  padding: 0;
  background-color: transparent;
}

button:hover {
  background-color: alpha(@dullAccent, 0.25);
}


/*--------------*/
/* Left widgets */
/*--------------*/

.workspaces button {
  border-radius: 24px;
  margin: 0 2px;
  padding: 0 4px;
  color: @secAccent;
  background-color: transparent;
}

.workspaces button.focused {
  color: @alert;
  background-color: alpha(@dullAccent, 0.2);
  transition: all 0.2s ease-in-out;
}

.workspaces button:hover {
  color: @base;
  background-color: alpha(@secAccent, 0.85);
  transition: all 0.2s ease-in-out;
}


.client-title {
  margin-left: 12px;
  color: @secAccent;
}


/*----------------*/
/* Center widgets */
/*----------------*/

.clock {
  margin: 0 2px;
  color: shade(@watch, 1.15);
}


/*---------------*/
/* Right widgets */
/*---------------*/

.volume {
  color: #7dc4e4;
}

.volume-slider {
  min-width: 48px;
  min-height: 6px;
  background-color: #cad;
  color: #7dc4e4;
}


.battery {
  color: @alert;
}

.system-tray {
  margin: 0 8px;
}

.system-tray button {
  border-radius: 12px;
  padding: 0 2px;
}

.notification {
  color: @alert;
}


.power-actions {
  color: @paleAccent;
  background-color: alpha(@dullAccent, 0.2);
  border-radius: 16px;
  padding: 0 2px;
}

.power-actions:hover {
  color: @base;
  background-color: alpha(@secAccent, 0.85);
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}


/*levelbar block,
highlight {
  min-height: 10px;
}*/
