@use "sass:color";

/* Based on Ayu Dark */
/* WIP */

$base: #0b0e14;

$box: #171b24;
$box-bright: #1a1f28;
$box-dim: #0f131a;

$string: #bfbdb6;
$string-dim: #636a72;

$shadow: #0b0e14;

$primary: #ffb454;
$primary-bright: #e6b673;
$primary-dim: #ff8f40;

$secondary: #f29668;
$secondary-bright: color.mix(#f29668, #f07178, $weight: 75%);
$secondary-dim: color.mix(#f29668, #ff8f40);

$tertiary: #59c2ff;
$tertiary-bright: #95e6cb;
$tertiary-dim: #39bae6;

$good: color.mix(#aad94c, #95e6cb);
$warn: #ff8f40;
$error: #f26d78;
