/* Adds a little padding to tables */
/* ---
 * cssclasses: pad-tables
 * --- */

/* original author: DeaconLight
 * source: https://forum.obsidian.md/t/custom-css-for-tables-5-new-styles-ready-to-use-in-your-notes/17084 */

.pad-tables th,
.pad-tables td {
  padding: 0.6rem;
  line-height: 1.1;
}
.pad-tables thead th {
  padding: 8px 9px 8px 9px;
}
