/* Makes table corners a little rounded */
/* ---
 * cssclasses: round-tables
 * --- */

/* original author: DeaconLight
 * source: https://forum.obsidian.md/t/custom-css-for-tables-5-new-styles-ready-to-use-in-your-notes/17084 */

.round-tables table {
  border-collapse: separate;
  border: solid 1px;
  border-radius: 5px;
  border-spacing: 0px;
}
.round-tables table th:first-of-type{
  border-top-left-radius: 5px;
}
.round-tables table th:last-of-type{
  border-top-right-radius: 5px;
}
.round-tables table tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}
.round-tables table tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
