/* Pad cells a little more */
body {
  --table-line-height: var(--line-height-normal);
}

/* Makes table corners a little rounded */

/* author (cssclasses implementation): DeaconLight
 * source: https://forum.obsidian.md/t/custom-css-for-tables-5-new-styles-ready-to-use-in-your-notes/17084 */

/* author (universal table styling): FireIsGood
 * source: https://forum.obsidian.md/t/adding-rounded-corners-to-markdown-tables-with-snippets-a-clean-solution/60551 */

:root table {
  --table-border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--table-border-radius);
}

th:first-of-type {
  border-top-left-radius: var(--table-border-radius);
}
th:last-of-type {
  border-top-right-radius: var(--table-border-radius);
}
tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-border-radius);
}
tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-border-radius);
}

:root :is(td, th) {
  border-width: 0 var(--table-border-width) var(--table-border-width) 0;
}
