/* Targets the URL bar and its tracker icon, site information, etc. */

/* Removes borders, increases margins to compensate */
toolbox {
  border: 0px !important;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Make buttons transleucent until hovered over */
.urlbar-page-action,
#identity-box,
#tracking-protection-icon-container {
  opacity: 0.25;
  transition: 0.2s all ease-in-out;

  &:hover {
    opacity: 1;
  }
}

#nav-bar {
  height: 2.5rem;
}

#urlbar-input {
  margin-left: 4px !important;
}

#urlbar {
  text-align: center;
}

#pageAction-urlbar-tab-stash_condordes_net {
  display: none;
}
