@import url("../../NixOS/palettes/macchiato-nightlight.css");

* {
    all: unset;
    border: none;
    font-family: "SauceCodePro Nerd Font", monospace;
    font-size: 10px;
    color: @paleAccent;
    border-radius: 16px;
}

window#waybar {
    background: rgba(0,0,0,0);
}

tooltip {
    background-color: alpha(@base, 0.5);
}
tooltip label {
    color: @paleAccent;
    padding: 0 4px;
}


/*-----Module groups----*/

.modules-left {
    margin: 2px 0 0 6px;
    background-color: alpha(@base, 0.70);
}

.modules-center {
    margin: 2px 0 0 0;
    background-color: alpha(@base, 0.70);
}

.modules-right {
    margin: 2px 6px 0 0;
    background-color: alpha(@base, 0.70);
}


/*-----Individual modules----*/

/* This is a big mess
 * I'll clean it up once I learn
 * CSS functions
 */

#clock,
#network,
#pulseaudio,
#battery,
#custon-media,
#tray {
    padding: 2px 8px;
    background-color: transparent;
}

#clock:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-media:hover,
#tray:hover {
    background-color: alpha(@dullAccent, 0.25);
    transition: background-color 0.2s ease-in-out;
}

#workspaces button label {
    color: @secAccent;
}
#workspaces button.active label {
    color: @alert;
    transition: color 0.2s ease-in-out;
}

#workspaces button {
    padding: 1px 12px 1px 9px;
    background-color: transparent;
}

#workspaces button.active {
    background-color: alpha(@paleAccent, 0.2);
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    color: @text;
    background-color: alpha(@secAccent, 0.85);
    transition: all 0.2s ease-in-out;
}

/* lighter peach */
#clock { color: shade(#f5a97f, 1.15); }

#network {
    color: @warning;
    padding-left: 10px;
}

/* sapphire */
#pulseaudio { color: #7dc4e4; }

#custom-power {
    color: @paleAccent;
    background-color: alpha(@dullAccent, 0.2);
    border-radius: 16px;
    padding: 0 6px 0 10px;
}
#custom-power:hover {
    color: @text;
    background-color: alpha(@secAccent, 0.85);
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}


/*-----Indications----*/

#pulseaudio.muted { color: alpha(@smudge, 0.75); }

/* teal, lavender, yellow, maroon
 * the color labels may not make too much
 * sense but it makes for a nice palette. */
#battery.full { color: @alert; }
#battery.charging { color: @warning; }
#battery.warning:not(.charging) { color: @tip; }
#battery.critical:not(.charging) { color: @watch; }
