/*--- Built on https://github.com/dpgraham4401/.dotfiles---*/

* {
    all: unset;
    border: none;
    font-family: "SauceCodePro NF", sans-serif;
    font-size: 10px;
    color: #f4dbd6;
    border-radius: 16px;
}

window#waybar {
    background: rgba(0,0,0,0);
}

tooltip {
    background-color: rgba(36,39,58,0.50);
}
tooltip label {
    color: #f4dbd6;
    padding: 0 4px;
}


/*-----Module groups----*/

.modules-left {
    margin: 2px 0 0 6px;
    background-color: rgba(36,39,58,0.70);
}

.modules-center {
    margin: 2px 0 0 0;
    background-color: rgba(36,39,58,0.70);
}

.modules-right {
    margin: 2px 6px 0 0;
    background-color: rgba(36,39,58,0.70);
}


/*-----Individual modules----*/

/* This is a big mess
 * I'll clean it up once I learn
 * CSS functions
 */

#clock,
#network,
#pulseaudio,
#battery,
#custon-media,
#tray {
    padding: 2px 8px;
    background-color: transparent;
}

#clock:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-media:hover,
#tray:hover {
    background-color: rgba(198,160,246,0.25);
    transition: background-color 0.2s ease-in-out;
}

#workspaces button label { color: #f5bde6; }
#workspaces button.active label {
    color: #8bd5ca;
    transition: color 0.2s ease-in-out;
}

#workspaces button {
    padding: 1px 12px 1px 9px;
    background-color: transparent;
}

#workspaces button.active {
    background-color: rgba(198,160,246,0.2);
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    color: #cad3f5;
    background-color: rgba(245, 189, 230, 0.85);
    transition: all 0.2s ease-in-out;
}

/* #workspaces button.focused {
 *  background-color: rgba(0, 43, 51, 0.85);
}*/

/* lighter peach */
#clock { color: shade(#f5a97f, 1.15); }

/* lavender */
#network {
    color: #b7bdf8;
    padding-left: 10px;
}

/* sapphire */
#pulseaudio { color: #7dc4e4; }

#custom-power {
    color: #f4dbd6;
    background-color: rgba(198,160,246,0.2);
    border-radius: 16px;
    padding: 0 6px 0 10px;
}
#custom-power:hover {
    color: #cad3f5;
    background-color: rgba(245, 189, 230, 0.85);
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}


/*-----Indications----*/

/* subtext0 */
#pulseaudio.muted { color: rgba(165,173,203,0.75); }

/* teal */
#battery.full { color: #8bd5ca; }

/* teal-ish */
#battery.charging { color: #81c8be; }

/* yellow-ish */
#battery.warning:not(.charging) { color: #e5c890; }

/* red-ish */
#battery.critical:not(.charging) { color: #e78284; }
