@import url("extras/index.css");
@import url("userChrome/index.css");

/* Variables */
:root {
  /* Default color for bookmark icons, in toolbar and sidebar */
  --bookmark-folder-icon-fill: var(--toolbarbutton-icon-fill);

  --toolbarbutton-border-radius: 6px !important; /* browser ui items */
  --uc-menupopup-border-radius: var(--toolbarbutton-border-radius); /* rounded menupopups */
  --browser-content-panel-radius: 9px;
}

/* Completely hides windows controls */
.titlebar-min,
.titlebar-restore,
.titlebar-close {
  display: none !important;
}
