@import url("extras/index.css");
@import url("userChrome/index.css");

:root {
  /* The default color used for bookmark icons, both in the toolbar and in the sidebar */
  --bookmark-folder-icon-fill: #ee99a0;

  /* The border radius for the browser ui */
  --toolbarbutton-border-radius: 6px !important;
}

/* Windows Controls */

/* Shrinks space occupied by windows controls
 * Use if you returned window controls
 * :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
 *   --uc-window-control-width: 72px !important;
 * }
 */

/* Completely hides windows controls */
.titlebar-min,
.titlebar-restore,
.titlebar-close {
  display: none !important;
}
